<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Iniciar Sesión</span>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="text-start">
              <label for="exampleInputEmail1" class="form-label">Correo:</label>
              <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
<!--              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
            </div>
            <div class="mb-3 text-start">
              <label for="exampleInputPassword1" class="form-label">Contraseña:</label>
              <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button class="btn d-flex justify-content-lg-center btn-success" type="submit">Iniciar Sesión</button>
            <a routerLink="register" class="link-success">Registrarse</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

